<form action="/answer" data-turbo="false">
    <label for="questionField"> Ask your coach anything:</label>

    <div class="flex-container" id="flexBox">

      <input type="text" name="question" class="form-control rounded-0">
      <input type="submit" name="Ask!" class="btn btn-primary" value="Ask" id="button">

  </div>
</form>
